<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Halloween - Jon Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/f2d1f6a6fa.js" crossorigin="anonymous"></script>
</head>
<body>
    <style>
        html, body {
            min-height: 100%;
            min-width: 100%;
            background-image: url(https://images.wallpapersden.com/image/download/halloween-2018-movie-comic-con-poster_63190_1920x1080.jpg);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
        }

        #logoutText{
            position: absolute;
            color: white;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
            left: 17%;
            top: 85%;
        }

        #ratingBox{
            width: 100px;
            position: absolute;
            top: 61%;
            left: 66%;
        }

        #submitRating{
            position: absolute;
            top: 61%;
            left: 72%;
        }

        .checked {
            color: orange;
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
            font-size: 72px;
            top: 75%;
        }

        .unchecked{
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
            color: white;
            font-size: 72px;
            top: 75%;
        }

        #rate{
            position: absolute;
            color: white;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
            left: 40%;
            top: 60%;
        }

        #account{
            position: absolute;
            left: 45%;
            color: white;
            text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
            top: 3%;

        }

        .active{
            background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9cb43e4d-9435-4282-bd4f-da09ffacdfa7/dcns0bv-ae11a25a-5408-4577-b249-130596cd1ea5.gif?t
            oken=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMC
            IsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzljYjQzZTRkLTk0MzUtNDI4Mi1iZDRmLWRhMDlmZmFjZGZhN1wvZGNuczBidi1hZTExYTI1YS01NDA4LTQ1NzctYjI0OS0xMzA1OTZjZDFlYTUuZ2lmIn1dXSwiYXVkIjpbIn
            VybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.xQBp1aBiQXd7VbvrjesycDdc1_yGt3VzFFdJvjw-G1o);
            background-size: 50%;
            color: white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            font-weight: bolder;
        }

        .movie{
            height: 50%;
            position: absolute;
            border: 2px solid black;
        }

        #movieTitle{
            position: absolute;
            color: white;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
            left: 40%;
            font-size: 72px;
        }

        #movieDesc{
            position: absolute;
            color: white;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
            left: 40%;
            top: 30%;
        }

        #movieRating{
            
        }

        #title{
            position: absolute;
            font-family:Arial, Helvetica, sans-serif;
            font-size: 75px;
            left: 2%;
            top:-6px;
            color: white;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

        }

        #loginButton{
            width: auto;
            margin-top: -5%;
            margin-left: 94%;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: black;
            opacity: 75%;
            }

            li {
            float: left;
            }

            li a {
            display: block;
            color: white;
            text-align: center;
            padding: 15px 155px;
            text-decoration: none;
            }

            li a:hover {
            background-color: #111;
            color: white;
            }

        @media (min-width: 1120px), (min-height: 630px) {
            body { background-size: auto; }
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        /* Set a style for all buttons */
        button {
            background-color: black;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: 1px solid white;
            cursor: pointer;
            width: 100%;
            }

        button:hover {
            opacity: 0.8;
            }

        /* Extra styles for the cancel button */
        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
            }

        /* Center the image and position the close button */
        .container {
            padding: 16px;
            }

        span.psw {
            float: right;
            padding-top: 16px;
            }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            padding-top: 60px;
            }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
            }

        /* The Close Button (x) */
        .close {
            position: absolute;
            right: 25px;
            top: 0;
            color: #000;
            font-size: 35px;
            font-weight: bold;
            }

        .close:hover, .close:focus {
            color: red;
            cursor: pointer;
            }

        /* Add Zoom Animation */
        .animate {
            -webkit-animation: animatezoom 0.6s;
            animation: animatezoom 0.6s
            }

        @-webkit-keyframes animatezoom {
            from {-webkit-transform: scale(0)} 
            to {-webkit-transform: scale(1)}
            }
            
        @keyframes animatezoom {
            from {transform: scale(0)} 
            to {transform: scale(1)}
            }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }
            .cancelbtn {
                width: 100%;
            }
            }
                    
            </style>

<!--Login Button-->
        {{#if user}}
        <h1 id="account">You are logged in as {{user.username}}</h1>
        <a href="/login/logout"><button id="loginButton">Logout</button></a>
        {{else}}
        <a href="accountLogin"><button id="loginButton">Login</button></a>
        {{/if}}
            <!--Middle Container for Genre-->
            <ul>
                <li><a href="action" >Action</a></li>
                <li><a href="comedy" >Comedy</a></li>
                <li><a href="horror" class="active">Horror</a></li>
                <li><a href="romance">Romance</a></li>
                <li><a href="drama">Drama</a></li>
            </ul>

            <div class="container">
                <div class=".col-sm">
                    <a href="/"><div id="title"><i class="fas fa-video">  Jon Movies</i></div></a>
                </div>
                <div class=".col-sm"></div>
                <div class=".col-sm"></div>
            </div>

            <!--Movie Covers-->
            <div class="container">
                <div class=".col-md">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/41yzEOzjm8L.jpg" class="movie">
                    <h1 id="movieTitle">Halloween</h1>
                    <h2 id="movieDesc">Fifteen years after murdering his sister on Halloween night 1963, Michael Myers escapes from a mental hospital 
                        and returns to the small town of Haddonfield, Illinois to kill again.</h2>
                    {{#if user}}
                    <h1 id="rate">Rate This Movie (out of 5): </h1>
                    <form method="post" action="ratingHalloween">
                    <input type="number" name="ratingHalloween" id="ratingBox" placeholder="Rating">
                    <input type="submit" value="submit" id="submitRating">
                    </form>
                    <h2 id="logoutText">Note: Log Out to Save All Changes</h2>
                    {{/if}}
                    
                    {{#if rateHalloween1}}
                    <span class="fa fa-star checked" style="position: absolute; left: 19%;"></span>
                    <span class="fa fa-star unchecked" style="position: absolute; left: 23%;"></span>
                    <span class="fa fa-star unchecked" style="position: absolute; left: 27%;"></span>
                    <span class="fa fa-star unchecked" style="position: absolute; left: 31%;"></span>
                    <span class="fa fa-star unchecked" style="position: absolute; left: 35%;"></span>
                    {{/if}}
                    {{#if rateHalloween2}}
                    <span class="fa fa-star checked" style="position: absolute; left: 19%;"></span>
                    <span class="fa fa-star checked" style="position: absolute; left: 23%;"></span>
                    <span class="fa fa-star unchecked" style="position: absolute; left: 27%;"></span>
                    <span class="fa fa-star unchecked" style="position: absolute; left: 31%;"></span>
                    <span class="fa fa-star unchecked" style="position: absolute; left: 35%;"></span>
                    {{/if}}
                    {{#if rateHalloween3}}
                    <span class="fa fa-star checked" style="position: absolute; left: 19%;"></span>
                    <span class="fa fa-star checked" style="position: absolute; left: 23%;"></span>
                    <span class="fa fa-star checked" style="position: absolute; left: 27%;"></span>
                    <span class="fa fa-star unchecked" style="position: absolute; left: 31%;"></span>
                    <span class="fa fa-star unchecked" style="position: absolute; left: 35%;"></span>
                    {{/if}}
                    {{#if rateHalloween4}}
                    <span class="fa fa-star checked" style="position: absolute; left: 19%;"></span>
                    <span class="fa fa-star checked" style="position: absolute; left: 23%;"></span>
                    <span class="fa fa-star checked" style="position: absolute; left: 27%;"></span>
                    <span class="fa fa-star checked" style="position: absolute; left: 31%;"></span>
                    <span class="fa fa-star unchecked" style="position: absolute; left: 35%;"></span>
                    {{/if}}
                    {{#if rateHalloween5}}
                    <span class="fa fa-star checked" style="position: absolute; left: 19%;"></span>
                    <span class="fa fa-star checked" style="position: absolute; left: 23%;"></span>
                    <span class="fa fa-star checked" style="position: absolute; left: 27%;"></span>
                    <span class="fa fa-star checked" style="position: absolute; left: 31%;"></span>
                    <span class="fa fa-star checked" style="position: absolute; left: 35%;"></span>
                    {{/if}}
                </div>
            </div>

</body>
</html>