<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Game Night - Jon Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/f2d1f6a6fa.js" crossorigin="anonymous"></script>
</head>
<body>
    <style>
        html, body {
            min-height: 100%;
            min-width: 100%;
            background-image: url(https://cloud.filmfed.com/movies/images/l_82a2d25a-c58b-48f5-a7ef-cfe0fc439b95.jpg);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
        }

        #account{
            position: absolute;
            left: 45%;
            color: white;
            text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
            top: 3%;

        }

        .active{
            background-size: 50%;
            color: black;
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
            font-weight: bolder;
        }

        .movie{
            height: 50%;
            position: absolute;
            border: 2px solid white;
        }

        #movieTitle{
            position: absolute;
            color: white;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
            left: 40%;
            font-size: 72px;
        }

        #movieDesc{
            position: absolute;
            color: white;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
            left: 40%;
            top: 30%;
        }

        #movieRating{
            
        }

        #title{
            position: absolute;
            font-family:Arial, Helvetica, sans-serif;
            font-size: 75px;
            left: 2%;
            top:-6px;
            color: white;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

        }

        #loginButton{
            width: auto;
            margin-top: -5%;
            margin-left: 94%;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: white;
            opacity: 75%;
            }

            li {
            float: left;
            }

            li a {
            display: block;
            color: black;
            text-align: center;
            padding: 15px 155px;
            text-decoration: none;
            }

            li a:hover {
            background-color: white;
            color: black;
            }

        @media (min-width: 1120px), (min-height: 630px) {
            body { background-size: auto; }
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        /* Set a style for all buttons */
        button {
            background-color: black;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: 1px solid white;
            cursor: pointer;
            width: 100%;
            }

        button:hover {
            opacity: 0.8;
            }

        /* Extra styles for the cancel button */
        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
            }

        /* Center the image and position the close button */
        .container {
            padding: 16px;
            }

        span.psw {
            float: right;
            padding-top: 16px;
            }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            padding-top: 60px;
            }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
            }

        /* The Close Button (x) */
        .close {
            position: absolute;
            right: 25px;
            top: 0;
            color: #000;
            font-size: 35px;
            font-weight: bold;
            }

        .close:hover, .close:focus {
            color: red;
            cursor: pointer;
            }

        /* Add Zoom Animation */
        .animate {
            -webkit-animation: animatezoom 0.6s;
            animation: animatezoom 0.6s
            }

        @-webkit-keyframes animatezoom {
            from {-webkit-transform: scale(0)} 
            to {-webkit-transform: scale(1)}
            }
            
        @keyframes animatezoom {
            from {transform: scale(0)} 
            to {transform: scale(1)}
            }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }
            .cancelbtn {
                width: 100%;
            }
            }
                    
            </style>

<!--Login Button-->
        {{#if user}}
        <h1 id="account">You are logged in as {{user.username}}</h1>
        <a href="/login/logout"><button id="loginButton">Logout</button></a>
        {{else}}
        <a href="accountLogin"><button id="loginButton">Login</button></a>
        {{/if}}
            <!--Middle Container for Genre-->
            <ul>
                <li><a href="action" >Action</a></li>
                <li><a href="comedy" >Comedy</a></li>
                <li><a href="horror" class="active">Horror</a></li>
                <li><a href="romance">Romance</a></li>
                <li><a href="drama">Drama</a></li>
            </ul>

            <div class="container">
                <div class=".col-sm">
                    <a href="/"><div id="title"><i class="fas fa-video">  Jon Movies</i></div></a>
                </div>
                <div class=".col-sm"></div>
                <div class=".col-sm"></div>
            </div>

            <!--Movie Covers-->
            <div class="container">
                <div class=".col-md">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51mTpE5QG6L._SY606_.jpg" class="movie">
                    <h1 id="movieTitle">The Nun</h1>
                    <h2 id="movieDesc">When a young nun at a cloistered abbey in Romania takes her own life, a priest with a haunted past and a novitiate on the threshold of her final vows are sent by the Vatican to investigate. 
                        Together, they uncover the order's unholy secret. Risking not only their lives but their faith and their very souls, they confront a malevolent force in the form of a demonic nun.</h2>
                </div>
            </div>

</body>
</html>